/*header top*/

.header-top {
    display: inline-block;
    width: 100%;
    background: #66BAA4;
    padding: 11px 0;
}

.header-top .header-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-top .header-top-right .social_icon {
    display: flex;
    align-items: center;
}

.header-top .header-top-right .mail-box a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    line-height: 24px;
    font-weight: 600;
}

.header-top .header-top-right .mail-box svg {
    margin-right: 10px;
}

.header-top .header-top-right .mail-box a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header-top .social_icon a {
    display: inline-block;
    width: auto;
    margin-right: 16px;
    height: 30px;
}

/*header mid*/

header .header-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mid .logo {
    display: flex;
    flex: 1;
}

.header-mid .header-mig-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-mid .header-mig-right .header-right-box {
    display: inline-block;
    width: 50%;
}

.header-mid .header-mig-right .header-right-box h4 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
}

.header-mid .header-mig-right .header-right-box a {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    margin-top: 7px;
}

.header-mid .header-mig-right .header-right-box a img {
    display: inline-block;
    margin-right: 8px;
}


/*header btm*/

.header-btm {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #A5F4FF;
}

.header-btm nav {
    display: inline-block;
    width: 100%;
}

.header-btm nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.header-btm nav ul li {
    display: inline-block;
    width: auto;
    margin: 18px 36px 18px 0;
}

.header-btm nav ul li:last-child {
    margin-right: 0;
}

.header-btm nav ul a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.header-btm nav ul li:hover a {
    font-weight: 700;
}

.toggle {
    display: none;
}




/* responsive header css */
@media (max-width: 400px) {

    .header-mid .header-mig-right {
        display: none;
    }

    /* header toggle */
    .toggle-mnu {
        display: block;
        width: 28px;
        height: 28px;
        margin-top: 14px;
    }

    .toggle {
        display: inline-block;
    }

    .toggle-mnu span:after,
    .toggle-mnu span:before {
        content: "";
        position: absolute;
        left: 0;
        top: 9px;
    }

    .toggle-mnu span:after {
        top: 18px;
    }

    .toggle-mnu span {
        position: relative;
        display: block;
    }

    .toggle-mnu span:after,
    .toggle-mnu span:before {
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .toggle-mnu.on span {
        background-color: transparent;
    }

    .toggle-mnu.on span:before {
        transform: rotate(45deg) translate(-1px, 0px);
    }

    .toggle-mnu.on span:after {
        transform: rotate(-45deg) translate(6px, -7px);
    }

    .header-btm nav {
        display: none;
    }

    .header-btm nav.show {
        display: block;
    }
}