<footer class="dr-footer">
    <div class="container">
        <div class="newsletter">
            <div class="content-area">
                <h3>Subscribe Our Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut
                    labore et eiusmod.</p>
            </div>
            <div class="newsletter-form-area">
                <form action="">
                    <div class="newsletter-info">
                        <input type="email" placeholder="Your Email">
                    </div>
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
        <div class="footer-main">
            <div class="about-area">
                <div class="footer-logo logo">
                    <a href="#"><img src="../../assets/images/logo.png" alt=""></a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore
                    et dolore.</p>
                <div class="social-feeds">
                    <ul>
                        <li><a href="#"><img src="../../assets/images/insta.png" alt=""></a></li>
                        <li><a href="#"><img src="../../assets/images/fb.png" alt=""></a></li>
                        <li><a href="#"><img src="../../assets/images/linkdin.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Doctors</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">T & C</a></li>
                    <li><a href="#">Desclaimer</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-call-us">
                <div class="call-us">
                    <div class="icon">
                        <div class="phone-icon">
                            <img src="../../assets/images/Phonew.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="heading">Call Us Today</div>
                        <div class="heading"><a href="tel:+913256523561">+91 3256523561</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>Copyright © 2023. All rights reserved.</p>
        </div>
    </div>
</footer>