.dr-footer {
    background: rgba(102, 186, 164, 0.99);
    padding: 60px 0;
}

.dr-footer .footer-main {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
}

.dr-footer .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dr-footer .newsletter .content-area {
    max-width: 35%;
}

.dr-footer .newsletter .content-area h3 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.dr-footer .newsletter .content-area p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-footer .newsletter .newsletter-form-area form {
    display: flex;
}

.dr-footer .newsletter .newsletter-form-area form .newsletter-info {
    margin-right: 10px;
}

.dr-footer .newsletter .newsletter-form-area form .newsletter-info input[type="email"] {
    border-radius: 30px;
    border: 1px solid #FFF;
    background: transparent;
    color: #fff;
    padding: 15px 30px;
}

.dr-footer .newsletter .newsletter-form-area form input[type="submit"] {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 30px;
    background: #FFF;
    border: 0;
    padding: 0px 30px;
}

.dr-footer .newsletter .newsletter-form-area form .newsletter-info input[type="email"]::placeholder {
    color: #fff;
}

.dr-footer .copyright-area p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dr-footer .footer-main .about-area {
    width: 40%;
}

.dr-footer .footer-main .footer-call-us {
    width: 20%;
    display: flex;
    align-items: center;
}

.dr-footer .footer-main .footer-links {
    width: 20%;
}

.dr-footer .footer-main .footer-links h3 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.dr-footer .footer-main .footer-links ul li a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-footer .footer-main .footer-links ul li {
    margin-bottom: 10px;
}

.dr-footer .footer-main .footer-links ul li a:hover {
    color: #f6793a;
}

.dr-footer .footer-main .about-area p {
    margin: 15px 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 400px;
}

.dr-footer .footer-main .about-area .social-feeds li {
    display: inline-block;
    margin-right: 5px;
}

.dr-footer .footer-main .footer-call-us .call-us {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
}

.dr-footer .footer-main .footer-call-us .call-us .content {
    margin-left: 10px;
}

.dr-footer .footer-main .footer-call-us .call-us .content .heading {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-footer .footer-main .footer-call-us .call-us .content .heading a {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    display: inline-block;
}

.dr-footer .footer-main .footer-call-us .call-us .phone-icon {
    width: 30px;
    height: 30px;
    background: #5ebaa7;
    border-radius: 100%;
    padding: 7px;
}