.hospital-overview {
    display: inline-block;
    width: 100%;
}

.doctor-detail .hospitail-over-wrp {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.hospital-overview .hospitail-over-wrp .hospital-top-left {
    display: inline-block;
    width: 75%;
}

.doctor-detail .hospitail-over-wrp .hospital-top-left .hospital-left-wrp {
    display: flex;
    width: auto;
    justify-content: space-between;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 0px;
    padding: 30px;
    height: 100%;
    box-sizing: border-box;
    margin-left: 45px;
}

.doctor-detail .hospitail-over-wrp .hospital-top-left .hospital-left-wrp .hospital-logo-desc {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.doctor-detail .hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc {
    display: inline-block;
    width: 100%;
    max-width: unset;
    height: 100%;
    position: relative;
}

.doctor-detail .hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc h3 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
    margin-bottom: 10px;
}

.doctor-detail .hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc p {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.doctor-detail .hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc .doctor-detail-btn-wrp {
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.doctor-detail .hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc .doctor-detail-btn-wrp button {
    display: inline-block;
    width: auto;
    border-radius: 30px;
    background: rgba(21, 174, 194, 0.89);
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    padding: 5px 15px;
    margin-right: 10px;
}

.hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc span {
    display: inline-block;
    width: 100%;
    color: #66BAA4;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 17px;
}

.hospitail-over-wrp .hospital-left-wrp .hospital-logo-desc .hospital-main-desc button {
    display: inline-block;
    width: auto;
    padding: 8px 20px;
    border-radius: 8px;
    background: #15AEC2;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.hospital-overview .hospitail-over-wrp .hospital-over-right {
    display: inline-block;
    width: 25%;
}

.hospital-overview .hospitail-over-wrp .hospital-over-right .hospital-over-right-wrp {
    display: inline-block;
    width: 100%;
}

.hospital-overview .hospitail-over-wrp .hospital-over-right .hospital-request-callback {
    display: inline-block;
    width: 100%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.hospital-overview .hospitail-over-wrp .hospital-over-right .hospital-request-callback img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.hospital-overview .hospitail-over-wrp .hospital-over-right .hospital-request-callback button {
    display: inline-block;
    width: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #15AEC2;
    border: none;
    padding: 8px 20px;
}

.hospital-overview .hospital-over-right .hospital-available-ser {
    display: flex;
    width: 100%;
    margin-top: 30px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 18px 0;
    flex-wrap: wrap;
}

.hospital-overview .hospital-over-right .hospital-available-ser h3 {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #000;
    padding-bottom: 15px;
    border-bottom: 1px solid #AEAEAE;
}

.hospital-overview .hospital-over-right .hospital-available-ser ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.hospital-overview .hospital-over-right .hospital-available-ser ul li {
    display: inline-block;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 15px;
}

.hospital-overview .hospital-over-right .hospital-available-ser ul li .service_col {
    display: flex;
    width: 100%;
    align-items: center;
}

.hospital-overview .hospital-over-right .hospital-available-ser ul li .service_col p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #000;
    margin-left: 15px;
    margin-bottom: 0;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left {
    display: flex;
    width: auto;
    margin-top: 25px;
    margin-right: 25px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left mat-tab-group {
    display: inline-block;
    width: 100%;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left mat-tab-group .mat-mdc-tab-label-container {
    display: inline-block;
    width: auto;
    padding-left: 50px;
    line-height: normal;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: unset;
    max-height: unset;
    height: auto;
    line-height: normal;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-body-wrapper {
    display: inline-block;
    width: 100%;
    padding: 30px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.doctor-detail .hospitail-over-wrp .hospital-top-left .hospital-left-wrp .hospital-main-review {
    display: inline-block;
    width: 40%;
}

.doctor-detail .hospitail-over-wrp .hospital-top-left .hospital-left-wrp .hospital-main-review .hospital-review-top {
    display: flex;
    justify-content: flex-end;
}

.doctor-detail .hospitail-over-wrp .hospital-top-left .hospital-left-wrp .hospital-main-review button {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #15AEC2;
    margin-top: 25px;
    padding: 8px 20px;
    border: none;
    display: inline-block;
    width: 100%;
}

.hospital-overview .hospitail-over-wrp .hospital-top-left .hospital-left-wrp .hospital-main-review img {
    margin-right: 5px;
}

.hospital-overview .hospitail-over-wrp .hospital-top-left .hospital-left-wrp .hospital-main-review p {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .tab-content-wrp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 18px;
}




/* doctor css tab */
.select-doctor-slider {
    display: inline-block;
    width: 100%;
    position: relative;
}

.tab-content .select-doctor-slider ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    width: 100%;
    margin-top: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

.select-doctor-slider ul li {
    display: flex;
    width: 50%;
    text-align: center;
    max-width: 50%;
    padding: 0 0;
    margin-bottom: 30px;
}

.select-doctor-slider ul li .select-doctor-box {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #F17732;
    padding: 25px 0px;
    margin: 0 15px;
}

.select-doctor-slider ul li .select-doctor-box img {
    display: inline-block;
    width: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text h3 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text span {
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    display: inline-block;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text .view-profile {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 9px;
    background: #15AEC2;
    line-height: normal;
    display: inline-block;
    padding: 13px 30px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text .view-profile:hover {
    background: #f6793a;
}

.select-doctor-slider .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}

.select-doctor-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.select-doctor-slider .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}


.tab-content .dr-testimonials {
    padding: 30px 40px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.tab-content .dr-testimonials .slider-content {
    max-width: unset;
    margin: unset;
}

.tab-content .dr-testimonials .testimonial-slider {
    display: inline-block;
    width: 100%;
}

.tab-content .dr-testimonials .slider-content .image-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.dr-testimonials .slider-content .image-col .image {
    margin-right: 10px;
}

.tab-content .dr-testimonials .slider-content .image-col .user-disc .pera-text {
    color: #97908D;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.tab-content .dr-testimonials .slider-content .image-col .user-disc .title {
    color: #F17732;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.tab-content .dr-testimonials .slider-content .feedeback .comment {
    padding: 0 0px;
    color: #7B6666;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.dr-testimonials .slider-content .feedeback .left-quat {
    position: absolute;
    left: 0;
    top: 0;
}

.dr-testimonials .slider-content .feedeback {
    position: relative;
}

.dr-testimonials .slider-content .feedeback .right-quate {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dr-testimonials {
    padding-bottom: 70px;
}

.dr-testimonials .dr-orang-title-block {
    margin-bottom: 70px;
}

.dr-testimonials .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-testimonials .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

/* artilcle tab */
.tab-content .articles-col {
    display: inline-block;
    width: 100%;
}

.tab-content .articles-col ul {
    display: flex;
    width: calc(100% + 12px);
    margin-right: -12px;
    margin-left: -12px;
}

.tab-content .articles-col .load-more.article {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
}

.tab-content .articles-col .load-more.article a {
    display: inline-block;
    width: auto;
    border-radius: 8px;
    background: #15AEC2;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 9px 30px;
}

.tab-content .articles-col ul li {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 12px;
}

.tab-content .articles-col ul li .article-item {
    display: inline-block;
    width: 100%;
    background: #D9D9D9;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.tab-content .articles-col ul li .article-item img {
    display: inline-block;
    width: 100%;
}

.tab-content .articles-col ul li .article-item .article-text {
    display: flex;
    width: 100%;
    padding: 13px 17px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tab-content .articles-col ul li .article-item .article-text h3 {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 7px;
}

.tab-content .articles-col ul li .article-item .article-text p {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 9px;
}

.tab-content .articles-col ul li .article-item .article-text a {
    display: inline-block;
    width: 100%;
    color: #15AEC2;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}