<div class="hospital-overview doctor-detail">
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                            <path
                                d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z" />
                        </svg>
                    </span>
                </li>
                <li>
                    <a href="#">Shalby Hospital Mohali</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="hospitail-over-wrp">
            <div class="hospital-over-right">
                <div class="hospital-over-right-wrp">
                    <div class="hospital-request-callback">
                        <img src="../../assets/images/doctor.png" alt="doctor">
                    </div>
                </div>
            </div>
            <div class="hospital-top-left">
                <div class="hospital-left-wrp">
                    <div class="hospital-logo-desc">
                        <!-- <div class="hospital-main-logo">
                            <img src="../../assets/images/hospital-main-logo.png" alt="hospital-main-logo">
                        </div> -->
                        <div class="hospital-main-desc">
                            <h3>DR. Addition Smith</h3>
                            <!-- <span>Silver Oaks Hospital, Phase-IX , Sector-63, SAS Nagar, Mohali, Punjab, 160062,
                                India</span> -->
                            <p>Dr. Code: 123</p>
                            <p>Dept. Code: 253</p>
                            <div class="doctor-detail-btn-wrp">
                                <button>Obstetrician</button>
                                <button>Gynecologist</button>
                                <button>Cosmetic Gynecology & IVF Specialist</button>
                            </div>
                        </div>
                    </div>
                    <div class="hospital-main-review">
                        <div class="hospital-review-top">
                            <img src="../../assets/images/star.png" alt="star">
                        </div>
                        <button>Book An Appointment</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="hospital-bottom-left">
            <mat-tab-group>
                <mat-tab label="Overview">
                    <div class="tab-content">
                        <div class="tab-content-wrp">
                            <h2>About Hostpital</h2>
                            <div class="tab-content-btm">
                                <div class="tab-content-img">
                                    <img src="../../assets/images/tab-about.png" alt="tab-about">
                                </div>
                                <div class="tab-content-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate
                                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                        mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Doctors">
                    <div class="tab-content">
                        <div class="select-doctor-slider">

                            <ul class="carousel">
                                <li class="slide">
                                    <div class="select-doctor-box">
                                        <div class="select-doctor-img">
                                            <img src="../../assets/images/doctor.png" alt="doctor" width="100%">
                                        </div>
                                        <div class="select-doctor-text">
                                            <h3 class="doctor-name">DR. Addition Smith</h3>
                                            <span>Dentist</span>
                                            <div class="doctor-rating">
                                                <img src="../../assets/images/star.png" alt="star">
                                            </div>
                                            <a href="#" class="view-profile">View Profile</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="slide">
                                    <div class="select-doctor-box">
                                        <div class="select-doctor-img">
                                            <img src="../../assets/images/doctor.png" alt="doctor" width="100%">
                                        </div>
                                        <div class="select-doctor-text">
                                            <h3 class="doctor-name">DR. Addition Smith</h3>
                                            <span>Dentist</span>
                                            <div class="doctor-rating">
                                                <img src="../../assets/images/star.png" alt="star">
                                            </div>
                                            <a href="#" class="view-profile">View Profile</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="slide">
                                    <div class="select-doctor-box">
                                        <div class="select-doctor-img">
                                            <img src="../../assets/images/doctor.png" alt="doctor" width="100%">
                                        </div>
                                        <div class="select-doctor-text">
                                            <h3 class="doctor-name">DR. Addition Smith</h3>
                                            <span>Dentist</span>
                                            <div class="doctor-rating">
                                                <img src="../../assets/images/star.png" alt="star">
                                            </div>
                                            <a href="#" class="view-profile">View Profile</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="slide">
                                    <div class="select-doctor-box">
                                        <div class="select-doctor-img">
                                            <img src="../../assets/images/doctor.png" alt="doctor" width="100%">
                                        </div>
                                        <div class="select-doctor-text">
                                            <h3 class="doctor-name">DR. Addition Smith</h3>
                                            <span>Dentist</span>
                                            <div class="doctor-rating">
                                                <img src="../../assets/images/star.png" alt="star">
                                            </div>
                                            <a href="#" class="view-profile">View Profile</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="slide">
                                    <div class="select-doctor-box">
                                        <div class="select-doctor-img">
                                            <img src="../../assets/images/doctor.png" alt="doctor" width="100%">
                                        </div>
                                        <div class="select-doctor-text">
                                            <h3 class="doctor-name">DR. Addition Smith</h3>
                                            <span>Dentist</span>
                                            <div class="doctor-rating">
                                                <img src="../../assets/images/star.png" alt="star">
                                            </div>
                                            <a href="#" class="view-profile">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Reviews">
                    <div class="tab-content">
                        <section class="dr-testimonials">
                            <div class="">
                                <!-- <div class="testimonial-slider">
                                    <ngx-slick-carousel class="slider" id="dr-testimonials"
                                        #slickModal="slick-carousel" [config]="drTestimonials">
                                        <div ngxSlickItem class="slider-item"
                                            *ngFor="let Test of Testimonial">
                                            <div class="slider-content">
                                                <div class="feedeback">
                                                    <div class="comment">
                                                        {{ Test.description }}
                                                    </div>
                                                </div>
                                                <div class="image-col">
                                                    <div class="image">
                                                        <img src="{{Test.image}}" alt="">
                                                    </div>
                                                    <div class="user-disc">
                                                        <h3 class="title">Leela Rogers</h3>
                                                        <p class="pera-text">Businessman</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ngx-slick-carousel>
                                </div> -->
                            </div>
                        </section>
                    </div>
                </mat-tab>
                <mat-tab label="Articles">
                    <div class="tab-content">
                        <div class="articles-col">
                            <ul>
                                <li>
                                    <div class="article-item">
                                        <div class="article-img">
                                            <img src="../../assets/images/article-doctor.png" alt="article-doctor">
                                        </div>
                                        <div class="article-text">
                                            <h3>What is Lorem Ipsum?</h3>
                                            <p>Lorem ipsum dolor sit
                                                amet, consectetur adipiscing
                                                elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore
                                                magna aliqua. Ut enim ad</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article-item">
                                        <div class="article-img">
                                            <img src="../../assets/images/article-doctor.png" alt="article-doctor">
                                        </div>
                                        <div class="article-text">
                                            <h3>What is Lorem Ipsum?</h3>
                                            <p>Lorem ipsum dolor sit
                                                amet, consectetur adipiscing
                                                elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore
                                                magna aliqua. Ut enim ad</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article-item">
                                        <div class="article-img">
                                            <img src="../../assets/images/article-doctor.png" alt="article-doctor">
                                        </div>
                                        <div class="article-text">
                                            <h3>What is Lorem Ipsum?</h3>
                                            <p>Lorem ipsum dolor sit
                                                amet, consectetur adipiscing
                                                elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore
                                                magna aliqua. Ut enim ad</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="load-more article">
                                <a href="#">Load More</a>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

            <div class="faq-overview">
                <!-- <mat-tree>
                    <mat-nested-tree-node>
                        parent node
                        <mat-nested-tree-node> -- child node1 </mat-nested-tree-node>
                        <mat-nested-tree-node> -- child node2 </mat-nested-tree-node>
                    </mat-nested-tree-node>
                </mat-tree> -->
            </div>

        </div>
    </div>
</div>