/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span.strong,
b {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: unset;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif !important;
}

body.mat-typography {
    font-family: 'Montserrat', sans-serif !important;
}


:focus {
    box-shadow: none;
    outline: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

@media (max-width: 48) {
    .container {
        max-width: 740px;
        width: 100%;
    }
}

.logo img {
    height: 114px;
}

.testimonial-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("./assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
    left: unset;
}

.testimonial-slider .slick-prev.slick-arrow::before {
    display: none;
}

.testimonial-slider .slick-next.slick-arrow::before {
    display: none;
}

.dr-testimonials .slick-next.slick-arrow {
    background-image: url("./assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-testimonials .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: unset;
    max-height: unset;
    height: auto;
    line-height: normal;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-header .mat-mdc-tab-label-container {
    padding: 0 50px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-header .mdc-tab {
    flex-grow: 0;
    padding: 0;
    margin-right: 80px;
    height: 65px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-header .mdc-tab:hover {
    background: unset;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-header .mdc-tab:hover .mdc-tab__ripple::before {
    opacity: 0;
}

.hospitail-over-wrp .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline {
    border-color: #66BAA4;
}

.hospital-bottom-left .mat-mdc-tab-header .mdc-tab span.mdc-tab__text-label {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Montserrat', sans-serif !important;
}

.hospital-bottom-left .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border: 3px solid #66BAA4;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .mat-mdc-tab-body-wrapper .tab-content {
    display: inline-block;
    width: 100%;
    padding: 5px 2px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.tab-content .testimonial-slider .slick-prev.slick-arrow {
    right: 30px;
}

.tab-content .dr-testimonials .slick-next.slick-arrow {
    right: -30px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .tab-content-btm {
    display: flex;
    align-items: center;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .tab-content-btm .tab-content-text {
    display: inline-block;
    width: 100%;
    margin-left: 50px;
}

.hospitail-over-wrp .hospital-top-left .hospital-bottom-left .tab-content-btm .tab-content-text p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #AEAEAE;
    line-height: normal;
}

.tab-content .dr-testimonials .slick-arrow {
    top: unset;
    bottom: -110px;
}

.breadcrumbs {
    display: flex;
    width: 100%;
    margin-bottom: 45px;
    background: #66BAA4;
}

.breadcrumbs ul {
    display: flex;
    width: 100%;
    padding: 17px 0;
    align-items: center;
}

.breadcrumbs ul li {
    display: flex;
    width: auto;
    align-items: center;
    line-height: normal;
    margin: 0 2px;
}

.breadcrumbs ul li svg {
    display: inline-block;
    stroke: #fff;
    fill: #fff;
    position: relative;
    top: 4px;
    width: 20px;
}

.breadcrumbs ul a {
    display: inline-block;
    width: auto;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}