.banner {
    display: inline-block;
    width: 100%;
    background: url("../../assets/images/search-banner.png")no-repeat center;
    height: 700px;
    background-position: inherit;
    position: relative;
    background-size: cover;
    /* z-index: -1; */
}

.banner .container {
    position: relative;
    height: 100%;
}

.searchpage.banner .banner_text .banner-doctor-counting span {
    color: #404040;
}

.banner .banner_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-width: 577px;
    display: inline-block;
    width: 100%;
    z-index: 1;
}

.searchpage .banner_wrp {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.searchpage .banner-form-right {
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
}

.searchpage .banner-form-right label {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #000;
    margin-bottom: 10px;
}

.searchpage .banner-form-right input.specialist-value {
    width: calc(100% - 22px);
}

.searchpage .banner-form-right .specialist-value {
    display: inline-block;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #B0ADAD;
    background: #FFF;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.searchpage .banner-form-right .button {
    display: inline-block;
    width: 100%;
    border-radius: 9px;
    background: #15AEC2;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    max-height: 40px;
    min-height: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
}

.searchpage.banner:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #66BAA4B8;
    opacity: 72%;
    top: 0;
    left: 0;
}

.banner .banner_text span.top-subtext {
    display: inline-block;
    width: 100%;
    color: #F17732;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.banner .banner_text h3.main-banner-title {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 72%;
}

.banner .banner_text span.banner-subtext {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.banner_text .banner-doctor-counting {
    display: inline-block;
    width: 50%;
}

.banner_text .banner-doctor-counting ul {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0 30px 0;
}

.banner_text .banner-doctor-counting ul li {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    border-right: 1px solid #000;
}

.banner_text .banner-doctor-counting ul li:last-child {
    border: none;
}

.banner_text .banner-doctor-counting ul li:first-child {
    padding-left: 0;
}

.banner_text .banner-doctor-counting ul li h3 {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.banner_text .banner-doctor-counting ul li span {
    color: #0B8CAB;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

.banner_text .banner-booknow {
    display: inline-block;
    width: 100%;
}

.banner_text .banner-booknow a.button {
    display: flex;
    width: 100%;
    border-radius: 9px;
    background: #F17732;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
}

.banner_text .banner-btm-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.banner_text .banner-btm-text h4 {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.banner_text .banner-btm-text ul {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding-left: 25px;
}

.banner_text .banner-btm-text ul li {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    position: relative;
}

.banner_text .banner-btm-text ul li::after {
    position: absolute;
    content: "";
    background: url("../../assets/images/ok.png")no-repeat center;
    width: 20px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
}

/* search banner slider */

.search-banner-slider li.search-banner-slider-wrp {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.search-banner-slider ngx-slick-carousel {
    display: flex;
    align-items: center;
}

.search-banner-slider .search-banner-img {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.search-banner-slider i {
    display: inline-block;
    /* width: 45px; */
    margin: 0 auto;
    background: #fff;
    font-size: 40px;
    border-radius: 50%;
    padding: 25px;
}

.search-banner-slider .search-banner-img span {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}

.search-banner-slider {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    max-width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.search-banner-slider .slick-arrow img {
    background: #fff;
    padding: 3px;
}




/* select doctor */
.services {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
}

.services .services-title-wrp {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.services .services-title-wrp .services-title {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.searchpage .services .services-title-wrp .services-title h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.services .services-title-wrp .services-title h2 {
    display: inline-block;
    width: 100%;
    color: #0B8CAB;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.services.select-doctor {
    padding-top: 30px;
    padding-bottom: 70px;
}

.select-doctor-slider {
    display: inline-block;
    width: 100%;
    position: relative;
}

.searchpage .select-doctor-slider ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    width: 100%;
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

.searchpage .select-doctor-slider ul li {
    display: flex;
    width: 33.33%;
    text-align: center;
    max-width: 33.33%;
    padding: 0 0;
    margin-bottom: 30px;
}

.searchpage .select-doctor-slider ul li .select-doctor-box {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #F17732;
    padding: 25px 0px;
    margin: 0 15px;
}

.select-doctor-slider ul li .select-doctor-box img {
    display: inline-block;
    width: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text h3 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text span {
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    display: inline-block;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text .view-profile {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 9px;
    background: #15AEC2;
    line-height: normal;
    display: inline-block;
    padding: 13px 30px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text .view-profile:hover {
    background: #f6793a;
}

.select-doctor-slider .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}

.select-doctor-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.select-doctor-slider .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-booking-steps {
    padding-bottom: 70px;
}

.dr-orang-title-block {
    text-align: center;
    margin-bottom: 40px;
}

.dr-orang-title-block .sec-sub-title {
    margin-bottom: 15px;
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-orang-title-block .sec-main-title {
    margin-bottom: 15px;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-orang-title-block .sec-title-sisc {
    color: #9C8F8F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 550px;
    margin: 0 auto;
}

.dr-testimonials .slider-content {
    max-width: 690px;
    margin: 0 auto;
}

.dr-testimonials .slider-content .image-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.dr-testimonials .slider-content .image-col .image {
    margin-right: 10px;
}

.dr-testimonials .slider-content .image-col .user-disc .pera-text {
    color: #97908D;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-testimonials .slider-content .image-col .user-disc .title {
    color: #F17732;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-testimonials .slider-content .feedeback .comment {
    padding: 0 30px;
    color: #7B6666;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dr-testimonials .slider-content .feedeback .left-quat {
    position: absolute;
    left: 0;
    top: 0;
}

.dr-testimonials .slider-content .feedeback {
    position: relative;
}

.dr-testimonials .slider-content .feedeback .right-quate {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dr-testimonials {
    padding-bottom: 70px;
}

.dr-testimonials .dr-orang-title-block {
    margin-bottom: 70px;
}

.dr-testimonials .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-testimonials .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-testimonials .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}