.banner {
    display: inline-block;
    width: 100%;
    background: url("../../assets/images/banner.png")no-repeat center;
    height: 700px;
    background-position: inherit;
    position: relative;
    background-size: cover;
    z-index: -1;
}

.banner .container {
    position: relative;
    height: 100%;
}

.banner .banner_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-width: 577px;
}

.banner .banner_text span.top-subtext {
    display: inline-block;
    width: 100%;
    color: #F17732;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.banner .banner_text h3.main-banner-title {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 72%;
}

.banner .banner_text span.banner-subtext {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.banner_text .banner-doctor-counting {
    display: inline-block;
    width: 50%;
}

.banner_text .banner-doctor-counting ul {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0 30px 0;
}

.img-radius {
    border-radius: 20px;
    object-fit: cover;
}

.banner_text .banner-doctor-counting ul li {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    border-right: 1px solid #000;
}

.banner_text .banner-doctor-counting ul li:last-child {
    border: none;
}

.banner_text .banner-doctor-counting ul li:first-child {
    padding-left: 0;
}

.banner_text .banner-doctor-counting ul li h3 {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.banner_text .banner-doctor-counting ul li span {
    color: #0B8CAB;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

.banner_text .banner-booknow {
    display: inline-block;
    width: 100%;
}

.banner_text .banner-booknow a.button {
    display: flex;
    width: 100%;
    border-radius: 9px;
    background: #F17732;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
}

.banner_text .banner-btm-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.banner_text .banner-btm-text h4 {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.banner_text .banner-btm-text ul {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding-left: 25px;
}

.banner_text .banner-btm-text ul li {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    position: relative;
}

.banner_text .banner-btm-text ul li::after {
    position: absolute;
    content: "";
    background: url("../../assets/images/ok.png")no-repeat center;
    width: 20px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
}


/*specialist*/
.specialist_sec {
    display: inline-block;
    width: 100%;
    margin-top: -70px;
}

.specialist_sec .specialist-_main {
    display: inline-block;
    width: 100%;
}

.specialist_sec .specialist-_main form.form {
    display: flex;
    width: 94%;
    /*position: relative;
    top: -70px;*/
    background: #fff;
    border-radius: 10px;
    padding: 60px 40px 30px 40px;
    margin: 0 auto;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.specialist_sec .specialist-_main form.form .label {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
    position: absolute;
    top: -30px;
}

.specialist_sec .specialist-_main form.form .form-group {
    display: inline-block;
    width: 25%;
    margin-right: 35px;
    position: relative;
}

.specialist_sec .specialist-_main form.form .form-group .specialist-value {
    display: inline-block;
    width: 100%;
    color: #848383;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #B0ADAD;
    background: #FFF;
    padding: 8px;
}

.specialist_sec .specialist-_main form.form .location {
    display: inline-block;
    width: 60%;
    margin-right: 56px;
}

.specialist_sec .specialist-_main form.form .submit-line {
    display: inline-block;
    width: 20%;
}

.specialist_sec .specialist-_main form.form .submit-line .button {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    border-radius: 9px;
    background: #15AEC2;
    border: none;
    padding: 10px 0;
    max-width: 190px;
}


/*services*/
.services {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
}

.services .services-title-wrp {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.services .services-title-wrp .services-title {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.services .services-title-wrp .services-title h3 {
    display: inline-block;
    width: 100%;
    color: #0B8CAB;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.services .services-title-wrp .service_view_btn {
    display: flex;
    max-width: 190px;
    width: 100%;
}

.services.service_center_main .services-title {
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
}

.services.service_center_main .services-title-wrp {
    justify-content: flex-end;
}

.services .services-title-wrp .service_view_btn a {
    display: flex;
    width: 100%;
    border-radius: 9px;
    background: #15AEC2;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    max-width: 190px;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}

.services .services-title-wrp .services-title h2 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.services .service_box {
    display: inline-block;
    width: 100%;
}

.services .service_box ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.services .service_box ul li {
    display: inline-block;
    width: 50%;
}

.services .service_box ul li .service_box-main {
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 47px;
    padding: 20px 35px;
}

.services .service_box ul li:nth-child(odd) .service_box-main {
    margin-right: 37px;
}

.services .service_box ul li .service-box-img {
    display: inline-block;
    width: auto;
    margin-right: 43px;
}

.services .service_box ul li .service_box-main h3.service-box-title {
    display: inline-block;
    width: 100%;
    color: #F17732;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
}

.services .service_box ul li .service_box-main span.service-box-desc {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}


/*doctor select slider*/
.services.select-doctor {
    padding-top: 30px;
    padding-bottom: 70px;
}

.select-doctor-slider {
    display: inline-block;
    width: 100%;
    position: relative;
}

.select-doctor-slider {
    display: flex;
    flex-wrap: inherit;
    margin-left: -18px;
    width: calc(100% + 37px);
    margin-top: 70px;
}

.select-doctor-slider li {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    max-width: 33.33%;
    padding: 0 18px;
}

.select-doctor-slider li .select-doctor-box {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #F17732;
    padding: 25px 0;
}

.select-doctor-slider li .select-doctor-box .select-doctor-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.select-doctor-slider li .select-doctor-box .select-doctor-text h3 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.select-doctor-slider .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
}

.select-doctor-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
}

.select-doctor-slider .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
}


/*doctor select slider*/
.services.select-doctor {
    padding-top: 30px;
    padding-bottom: 70px;
}

.select-doctor-slider {
    display: inline-block;
    width: 100%;
    position: relative;
}

.select-doctor-slider ul {
    display: flex;
    flex-wrap: inherit;
    margin-left: -18px;
    width: calc(100% + 37px);
    margin-top: 70px;
}

.select-doctor-slider ul li {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    max-width: 33.33%;
    padding: 0 18px;
}

.select-doctor-slider ul li .select-doctor-box {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #F17732;
    padding: 25px 0;
}

.select-doctor-slider ul li .select-doctor-box img {
    display: inline-block;
    width: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text h3 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text span {
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    display: inline-block;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text .view-profile {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 9px;
    background: #15AEC2;
    line-height: normal;
    display: inline-block;
    padding: 13px 30px;
}

.select-doctor-slider ul li .select-doctor-box .select-doctor-text .view-profile:hover {
    background: #f6793a;
}

.select-doctor-slider .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}

.select-doctor-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.select-doctor-slider .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

/* 12-10-2023 */

.row {
    display: flex;
}

.sub-title {
    color: #F17732;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.dr-about-us .main-title {
    max-width: 70%;
}

.main-title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.dr-about-us .discription {
    max-width: 70%;
}

.discription {
    color: #9C8F8F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-about-us {
    padding-bottom: 70px;
}

.dr-about-us .about-content-col {
    width: 50%;
}

.dr-about-us .about-image-col {
    width: 50%;
    position: relative;
}

.dr-about-us .about-image-col .counter-div {
    max-width: fit-content;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.dr-about-us .about-image-col .counter-div img {
    width: auto;
}

.dr-about-us .about-image-col .counter-div .counter-title {
    color: #15AEC2;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.dr-about-us .about-image-col .counter-div .counter-disc {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-about-us .about-image-col img {
    max-width: 100%;
    width: 100%;
}

.dr-about-us .row {
    align-items: center;
}

.dr-about-us .button-block {
    margin-top: 30px;
}

.dr-theme-btn {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 9px;
    background: #15AEC2;
    line-height: normal;
    display: inline-block;
    padding: 13px 30px;
}

.dr-theme-btn:hover {
    background: #f6793a;
}

.checkmark-points {
    display: flex;
    margin-top: 30px;
}

.checkmark-points .ch-point .title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkmark-points .ch-point .title img {
    margin-right: 5px;
}

.checkmark-points .ch-point .pera-text {
    color: #9C8F8F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-booking-steps {
    padding-bottom: 70px;
}

.dr-orang-title-block {
    text-align: center;
    margin-bottom: 30px;
}

.dr-orang-title-block .sec-sub-title {
    margin-bottom: 15px;
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-orang-title-block .sec-main-title {
    margin-bottom: 15px;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-orang-title-block .sec-title-sisc {
    color: #9C8F8F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 550px;
    margin: 0 auto;
}

.dr-booking-steps .steps-banner {
    padding: 50px 0;
    background-image: url('../../assets/images/doctor-is-going-examine.png');
}



/*header top*/

.header-top {
    display: inline-block;
    width: 100%;
    background: #66BAA4;
    padding: 11px 0;
}

.header-top .header-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-top .header-top-right .social_icon {
    display: flex;
    align-items: center;
}

.header-top .header-top-right .mail-box a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    line-height: 24px;
    font-weight: 600;
}

.header-top .header-top-right .mail-box svg {
    margin-right: 10px;
}

.header-top .header-top-right .mail-box a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header-top .social_icon a {
    display: inline-block;
    width: auto;
    margin-right: 16px;
    height: 30px;
}

/*header mid*/

header .header-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mid .logo {
    display: flex;
    flex: 1;
}

.header-mid .header-mig-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-mid .header-mig-right .header-right-box {
    display: inline-block;
    width: 50%;
}

.header-mid .header-mig-right .header-right-box h4 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
}

.header-mid .header-mig-right .header-right-box a {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    margin-top: 7px;
}

.header-mid .header-mig-right .header-right-box a img {
    display: inline-block;
    margin-right: 8px;
}


/*header btm*/

.header-btm {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #A5F4FF;
}

.header-btm nav {
    display: inline-block;
    width: 100%;
}

.header-btm nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-btm nav ul li {
    display: inline-block;
    width: auto;
    margin: 18px 36px 18px 0;
}

.header-btm nav ul li:last-child {
    margin-right: 0;
}

.header-btm nav ul a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.header-btm nav ul li:hover a {
    font-weight: 700;
}




/*banner*/
.banner {
    display: inline-block;
    width: 100%;
    background: url("../../assets/images/banner.png")no-repeat center;
    height: 700px;
    background-position: inherit;
    position: relative;
    background-size: cover;
    z-index: -1;
}

.banner .container {
    position: relative;
    height: 100%;
}

.banner .banner_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-width: 577px;
    display: inline-block;
    width: 100%;
}

.banner .banner_text span.top-subtext {
    display: inline-block;
    width: 100%;
    color: #F17732;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.banner .banner_text h3.main-banner-title {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 72%;
}

.banner .banner_text span.banner-subtext {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.banner_text .banner-doctor-counting {
    display: inline-block;
    width: 50%;
}

.banner_text .banner-doctor-counting ul {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0 30px 0;
}

.banner_text .banner-doctor-counting ul li {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    border-right: 1px solid #000;
}

.banner_text .banner-doctor-counting ul li:last-child {
    border: none;
}

.banner_text .banner-doctor-counting ul li:first-child {
    padding-left: 0;
}

.banner_text .banner-doctor-counting ul li h3 {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.banner_text .banner-doctor-counting ul li span {
    color: #0B8CAB;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

.banner_text .banner-booknow {
    display: inline-block;
    width: 100%;
}

.banner_text .banner-booknow a.button {
    display: flex;
    width: 100%;
    border-radius: 9px;
    background: #F17732;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
}

.banner_text .banner-btm-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.banner_text .banner-btm-text h4 {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.banner_text .banner-btm-text ul {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding-left: 25px;
}

.banner_text .banner-btm-text ul li {
    display: inline-block;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    position: relative;
}

.banner_text .banner-btm-text ul li::after {
    position: absolute;
    content: "";
    background: url("../../assets/images/ok.png")no-repeat center;
    width: 20px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
}


/*specialist*/
.specialist_sec {
    display: inline-block;
    width: 100%;
    margin-top: -70px;
}

.specialist_sec .specialist-_main {
    display: inline-block;
    width: 100%;
}

.specialist_sec .specialist-_main form.form {
    display: flex;
    width: 94%;
    /*position: relative;
    top: -70px;*/
    background: #fff;
    border-radius: 10px;
    padding: 60px 40px 30px 40px;
    margin: 0 auto;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.specialist_sec .specialist-_main form.form .label {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
    position: absolute;
    top: -30px;
}

.specialist_sec .specialist-_main form.form .form-group {
    display: inline-block;
    width: 25%;
    margin-right: 35px;
    position: relative;
}

.specialist_sec .specialist-_main form.form .form-group .specialist-value {
    display: inline-block;
    width: 100%;
    color: #848383;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #B0ADAD;
    background: #FFF;
    padding: 8px;
}

.specialist_sec .specialist-_main form.form .location {
    display: inline-block;
    width: 60%;
    margin-right: 56px;
}

.specialist_sec .specialist-_main form.form .submit-line {
    display: inline-block;
    width: 20%;
}

.specialist_sec .specialist-_main form.form .submit-line .button {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    border-radius: 9px;
    background: #15AEC2;
    border: none;
    padding: 10px 0;
    max-width: 190px;
}


/*services*/
.services {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
}

.services .services-title-wrp {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.services .services-title-wrp .services-title {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.services .services-title-wrp .services-title h3 {
    display: inline-block;
    width: 100%;
    color: #0B8CAB;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.services .services-title-wrp .service_view_btn {
    display: flex;
    max-width: 190px;
    width: 100%;
}

.services .services-title-wrp .service_view_btn a {
    display: flex;
    width: 100%;
    border-radius: 9px;
    background: #15AEC2;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    max-width: 190px;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}

.services .services-title-wrp .services-title h2 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.services .service_box {
    display: inline-block;
    width: 100%;
}

.services .service_box ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.services .service_box ul li {
    display: inline-block;
    width: 50%;
}

.services .service_box ul li .service_box-main {
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 47px;
    padding: 20px 35px;
}

.services .service_box ul li:nth-child(odd) .service_box-main {
    margin-right: 37px;
}

.services .service_box ul li .service-box-img {
    display: inline-block;
    width: auto;
    margin-right: 43px;
}

.services .service_box ul li .service-box-img i {
    font-size: 80px;
}

.services .service_box ul li .service_box-main h3.service-box-title {
    display: inline-block;
    width: 100%;
    color: #F17732;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
}

.services .service_box ul li .service_box-main span.service-box-desc {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}


/*doctor select slider*/
.services.select-doctor {
    padding-top: 30px;
    padding-bottom: 70px;
}

.select-doctor-slider {
    display: inline-block;
    width: 100%;
    position: relative;
}

.select-doctor-slider ngx-slick-carousel {
    display: flex;
    flex-wrap: inherit;
    margin-left: -18px;
    width: calc(100% + 37px);
    margin-top: 70px;
}

.select-doctor-slider ngx-slick-carousel li {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    max-width: 33.33%;
    padding: 0 18px;
}

.select-doctor-slider ngx-slick-carousel li .select-doctor-box {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #F17732;
    padding: 25px 0;
}

.select-doctor-slider ngx-slick-carousel li .select-doctor-box .doctor-rating {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
}

.select-doctor-slider ngx-slick-carousel li .select-doctor-box .select-doctor-img img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.select-doctor-slider ngx-slick-carousel li .select-doctor-box .select-doctor-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.select-doctor-slider ngx-slick-carousel li .select-doctor-box .select-doctor-text h3 {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.select-doctor-slider li .select-doctor-box .select-doctor-text span {
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
    display: inline-block;
}

.select-doctor-slider li .select-doctor-box .select-doctor-text .view-profile {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 9px;
    background: #15AEC2;
    line-height: normal;
    display: inline-block;
    padding: 13px 30px;
}

.select-doctor-slider li .select-doctor-box .select-doctor-text .view-profile:hover {
    background: #f6793a;
}

.select-doctor-slider .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}

.select-doctor-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.select-doctor-slider .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

/* 12-10-2023 */

.row {
    display: flex;
}

.sub-title {
    color: #F17732;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.dr-about-us .main-title {
    max-width: 70%;
}

.main-title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.dr-about-us .discription {
    max-width: 70%;
}

.discription {
    color: #9C8F8F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-about-us {
    padding-bottom: 70px;
}

.dr-about-us .about-content-col {
    width: 50%;
}

.dr-about-us .about-image-col {
    width: 50%;
    position: relative;
}

.dr-about-us .row {
    align-items: center;
}

.dr-about-us .button-block {
    margin-top: 30px;
}

.dr-theme-btn {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 9px;
    background: #15AEC2;
    line-height: normal;
    display: inline-block;
    padding: 13px 30px;
}

.dr-theme-btn:hover {
    background: #f6793a;
}

.checkmark-points {
    display: flex;
    margin-top: 30px;
}

.checkmark-points .ch-point .title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkmark-points .ch-point .title img {
    margin-right: 5px;
}

.checkmark-points .ch-point .pera-text {
    color: #9C8F8F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-booking-steps {
    padding-bottom: 70px;
}

.dr-orang-title-block {
    text-align: center;
    margin-bottom: 40px;
}

.dr-orang-title-block .sec-sub-title {
    margin-bottom: 15px;
    color: #F17732;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-orang-title-block .sec-main-title {
    margin-bottom: 15px;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-orang-title-block .sec-title-sisc {
    color: #9C8F8F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 550px;
    margin: 0 auto;
}

.dr-booking-steps .steps-banner {
    padding: 100px 0;
    background-image: url('../../assets/images/doctor-is-going-examine.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dr-booking-steps .steps-banner .steps-main {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.dr-booking-steps .steps-banner .steps-main .step-item {
    text-align: center;
}

.dr-booking-steps .steps-banner .steps-main .step-title {
    margin: 20px 0 10px 0;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-booking-steps .steps-banner .steps-main .step-number {
    border-radius: 50px;
    background: rgba(21, 174, 194, 0.20);
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 120px;
    padding: 8px 0;
    margin: 0 auto;
}

.dr-booking-steps .steps-banner .steps-main .step-number span {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #00adc1;
    border-radius: 100px;
}

.dr-booking-steps .steps-banner .steps-main .step-disc {
    color: #4a4a4a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-booking-steps .steps-banner::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dr-testimonials .slider-content {
    max-width: 690px;
    margin: 0 auto;
}

.dr-testimonials .slider-content .image-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.dr-testimonials .slider-content .image-col .image {
    margin-right: 10px;
}

.dr-testimonials .slider-content .image-col .user-disc .pera-text {
    color: #97908D;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-testimonials .slider-content .image-col .user-disc .title {
    color: #F17732;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-testimonials .slider-content .feedeback .comment {
    padding: 0 30px;
    color: #7B6666;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dr-testimonials .slider-content .feedeback .left-quat {
    position: absolute;
    left: 0;
    top: 0;
}

.dr-testimonials .slider-content .feedeback {
    position: relative;
}

.dr-testimonials .slider-content .feedeback .right-quate {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dr-testimonials {
    padding-bottom: 70px;
}

.dr-testimonials .dr-orang-title-block {
    margin-bottom: 70px;
}

.testimonial-slider .slick-prev.slick-arrow {
    right: 80px;
    background-image: url("../../assets/images/slider-left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-testimonials .slick-next.slick-arrow {
    background-image: url("../../assets/images/slider-right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.dr-testimonials .slick-arrow {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 0;
    border: 0;
    background: #F17732;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 25px;
}

.dr-articles .articles {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 30px;
}

.dr-articles .articles .article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dr-articles .articles .article .article-img {
    margin-right: 15px;
}

.dr-articles .articles .article .article-content .pera-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0;
}

.dr-articles .articles .article .article-content .title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-articles .articles .article .article-content a {
    color: #F17732;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-articles .articles .article .article-content a:hover {
    color: #008ba9;
}

.dr-articles .add-banner-blog {
    position: relative;
    height: 100%;
    display: flex;
    align-items: stretch;
    min-height: -webkit-fill-available;
    border-radius: 15px;
    overflow: hidden;
}

.dr-articles .add-banner-blog img {
    width: 100%;
    height: 100%;
}

.dr-articles .add-banner-blog .blog-content {
    position: absolute;
    bottom: 10px;
    padding: 10px;
}

.dr-articles .row {
    display: grid;
    grid-auto-flow: column;
}

.dr-articles .add-banner-blog .blog-content .title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
}

.dr-articles .add-banner-blog .blog-content .pera-text {
    margin: 10px 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.dr-articles .add-banner-blog .blog-content a {
    display: inline-block;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}

.dr-articles .add-banner-blog .blog-content a:hover {
    color: #F17732;
}

.dr-articles .add-banner-blog::before {
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dr-articles {
    padding-bottom: 70px;
}

.dr-footer {
    background: rgba(102, 186, 164, 0.99);
    padding: 60px 0;
}

.dr-footer .footer-main {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
}

.dr-footer .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dr-footer .newsletter .content-area {
    max-width: 35%;
}

.dr-footer .newsletter .content-area h3 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.dr-footer .newsletter .content-area p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-footer .newsletter .newsletter-form-area form {
    display: flex;
}

.dr-footer .newsletter .newsletter-form-area form .newsletter-info {
    margin-right: 10px;
}

.dr-footer .newsletter .newsletter-form-area form .newsletter-info input[type="email"] {
    border-radius: 30px;
    border: 1px solid #FFF;
    background: transparent;
    color: #fff;
    padding: 15px 30px;
}

.dr-footer .newsletter .newsletter-form-area form input[type="submit"] {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 30px;
    background: #FFF;
    border: 0;
    padding: 0px 30px;
}

.dr-footer .newsletter .newsletter-form-area form .newsletter-info input[type="email"]::placeholder {
    color: #fff;
}

.dr-footer .copyright-area p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dr-footer .footer-main .about-area {
    width: 40%;
}

.dr-footer .footer-main .footer-call-us {
    width: 20%;
    display: flex;
    align-items: center;
}

.dr-footer .footer-main .footer-links {
    width: 20%;
}

.dr-footer .footer-main .footer-links h3 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.dr-footer .footer-main .footer-links ul li a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dr-footer .footer-main .footer-links ul li {
    margin-bottom: 10px;
}

.dr-footer .footer-main .footer-links ul li a:hover {
    color: #f6793a;
}

.dr-footer .footer-main .about-area p {
    margin: 15px 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 400px;
}

.dr-footer .footer-main .about-area .social-feeds li {
    display: inline-block;
    margin-right: 5px;
}

.dr-footer .footer-main .footer-call-us .call-us {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
}

.dr-footer .footer-main .footer-call-us .call-us .content {
    margin-left: 10px;
}

.dr-footer .footer-main .footer-call-us .call-us .content .heading {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dr-footer .footer-main .footer-call-us .call-us .content .heading a {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    display: inline-block;
}

.dr-footer .footer-main .footer-call-us .call-us .phone-icon {
    width: 30px;
    height: 30px;
    background: #5ebaa7;
    border-radius: 100%;
    padding: 7px;
}

@media (max-width: 400px) {

    .specialist_sec .specialist-_main form.form {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .specialist_sec .specialist-_main form.form .form-group {
        width: 100%;
    }

}